.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c39c00;
    padding: 1px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  
  .nav-item {
    color: white;
    

    
  }
  
  .nav-item:hover {
    color: #f8d700;
  }